<% if zero_starships? %>
	<div id="zero-starships-message">
		<%= image_tag 'fail.png' %>
		<h3>These aren't the droids you're looking for.</h3>
	</div>
<%else %>	
	<div id="ship-container">
		<% @starships.each do |ship| %>
			<div class="starship">
				<header class="ship-display-name"><%= ship.name %></header>
				<ul>
					<li>
						<span class="attribute-title">Model: </span><%= ship.model %>
					</li>
					<li>
						<span class="attribute-title">Starship Class: </span><%= ship.starship_class %>
					</li>
					<li>
						<span class="attribute-title">Manufacturer: </span><%= ship.manufacturer %>
					</li>
					<li>
						<span class="attribute-title">Asking Price: </span><%= price_known?(ship) %>
					</li>
				</ul>

				<button class="show-specs"></button>

				<section class="ship-specs">
					<header><%= ship.name %> Specifications</header>
					<ul>
						<li>
							<span class="attribute-title">Length: </span><%= ship.length %> meters
						</li>
						<li>
							<span class="attribute-title">Max Atmosphering Speed: </span><%= max_atmosphering?(ship) %>
						</li>
						<li>
							<span class="attribute-title">Required Piloting Personnel: </span><%= ship.crew %>
						</li>
						<li>
							<span class="attribute-title">Maximum Passengers: </span><%= ship.passengers %>
						</li>
						<li>
							<span class="attribute-title">Cargo Capacity: </span><%= number_to_human(ship.cargo_capacity).downcase %> kg
						</li>
						<li>
							<span class="attribute-title">Consumables: </span><%= ship.passengers %> *
						</li>
						<li>
							<span class="attribute-title">Hyperdrive Rating: </span><%= ship.hyperdrive_rating %>
						</li>
						<li>
							<span class="attribute-title">Megalights/Hour: </span><%= ship.MGLT %>
						</li>
					</ul>

					<p class="consumable-note">
						* Consumables are the maximum length of time that this vehicle can provide consumables for its entire crew without having to resupply.
					</p>
				</section>
			</div>
		<% end %>
	</div>
<% end %>
