<div>
<%= form_tag starships_path, method: :get do %>
 	<p id="search-bar">
 		NAME
 		<br>
 		<%= text_field_tag :name_search, params[:name_search], size: 25 %>
 		<br><br>
 		MODEL
 		<br>
 		<%= text_field_tag :model_search, params[:model_search], size: 25 %>
 		<br><br>
 		MANUFACTURER
 		<br>
 		<%= text_field_tag :manufacturer_search, params[:manufacturer_search], size: 25 %>
 		<br><br>
 		CLASS
 		<br>
 		<%= select_tag :class_search, options_for_select(@class_list, params[:class_search]), include_blank: true %>
 		<br><br>
 	<!-- 	Add button to clear form -->
 		<%= submit_tag "Search", name: nil %>
 	</p>
<% end %>
</div>