<!DOCTYPE html>
<html>
<head>
  <title>Starships</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- <link href='//fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'> -->
  <link href='//fonts.googleapis.com/css?family=Share+Tech+Mono|Audiowide' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div id="content">
		<%= render 'layouts/sidebar' %>
		<%= yield %>
	</div>
</body>
</html>